<!--
    Ændre i variabler
    VPN administration
    Nice grafer

-->
{% extends "layout.html" %}
{% block body %}

<div class="container w-50 text-bg-light rounded p-4 border-info border">
    <div class="container p-2">
        <div class="row align-items-start text-left">
            <div class="col text-secondary">
                <h1 class="fw-bold">
                    Admin Panel
                </h1>
            </div>
        </div>
    </div>
    <div class="container p-2">
        <div class="row">
            <div class="col content-bg rounded border p-2">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa-solid fa-network-wired"></i> VPN configs
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Expires on</th>
                                            <th scope="col">Connected</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <th scope="row">{{ user.id }}</th>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.exp }}</td>
                                            <td>{% if user.connected %}
                                                <i class="fa-solid fa-check text-success"></i>
                                                {% else %} 
                                                <i class="fa-solid fa-xmark text-danger"></i>
                                                {% endif %}
                                            </td>
                                            <td class="text-bg-danger">
                                                <a href="{{ url_for('sagalabs.delete_user', user=user.name) }}" class="text-bg-danger">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                                </td>
                                        </tr>
                                        {% else %}
                                        <em> No users registered at all!</em>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa-solid fa-network-wired"></i> VPN Status
                            </div>
                            <div class="card-body">
                                <h5>
                                    <span class="badge rounded-pill text-bg-success m-2"><i class="fa-solid fa-plug"></i> {{ connected }} Clients connected</span>
                                    <span class="badge rounded-pill text-bg-secondary m-2"><i class="fa-solid fa-users"></i> {{ count }} Users created</span>
                                    <span class="badge rounded-pill text-bg-danger m-2"><i class="fa-solid fa-circle-exclamation"></i> {{ 50-count }} Remaining spaces</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa-solid fa-server"></i> Server Status
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5>
                                                <i class="fa-solid fa-microchip"></i> CPU Usage
                                            </h5>
                                            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar bg-info" style="width: 50%"></div>
                                              </div>
                                        </div>
                                        <div class="col">
                                            <h5>
                                                <i class="fa-solid fa-memory"></i> Memory Usage
                                            </h5>
                                            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar bg-info" style="width: 50%"></div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}