{% extends "layout.html" %}
{% block body %}
  <div class="container w-50 text-bg-light rounded p-4 border-info border ">
    
    <div class="row align-items-start text-left ">
        <div class="col text-secondary">
            <h1 class="fw-bold">Sign up for SagaLabs</h1>
        </div>
        {% if error %}
        <div class="col">
          <p class="error"><strong>Error:</strong> {{ error }}

        </div>{% endif %}
    </div>
  <div class="container">
    <div class="row align-items-center text-center pt-5">
      <div class="col offset-4">
        <form action="{{ url_for('sagalabs.register') }}" method="post" class="text-center align-items-center">
          <div class="mb-3 w-50">
            <label class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" placeholder="Username" required="true">
          </div>
          <div class="mb-3 w-50">
            <label class="form-label">Password:</label>
            <input type="password" class="form-control" name="password1" placeholder="Password" required="true"></input>
          </div>
          <div class="mb-3 w-50">
            <label class="form-label">Repeat Password:</label>
            <input type="password" class="form-control" name="password2" placeholder="Password" required="true"></input>
          </div>
          <div class="mb-3 w-50">
            <label class="form-label">Admin token (if applicable):</label>
            <input type="password" class="form-control" name="token" placeholder="Token"></input>
          </div>
          <div class="mb-3 w-100">
            <button class="button btn btn-primary btn-sm" type="submit"> <i class="fa-solid fa-user-plus"></i> Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    
  </div>

{% endblock %}