{% extends "layout.html" %} 
{% block body %} 

<!--Accept Modal-->
{% include "/components/ModalAccept.html" %}
<script>
  const modalAccept = new ModalAccept(document.getElementById('confirmationBox'))
</script>
<!--Alert Modal-->
{% include "/components/ModalAlert.html" %}
<script>
  const modalAlert = new ModalAlert(document.getElementById('ModalAlert'))
</script>

  <div class="container w-50 text-bg-light rounded p-4 border-info border">
    <div class="container p-2">
      <div class="row align-items-start text-left ">
        <div class="col text-secondary">
          <h1 class="fw-bold">Users</h1>

          {% if profile.local_claims.UserType == "SuperAdmin" %}
            <!-- TABLE -->
            <table class="table table-striped">
              <thead class="table-dark">
                <tr>
                  <th>Type</th>
                  <th>Display Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <script>
                  console.log('{{profile.local_claims.UserType}}')

                  //This function is run when a user type is changed in UI
                  function confirmChange(userId, DisplayName, oldType) {
                    const newType = document.getElementById('type-select-' + userId).value;

                    //This function makes a update user POST request to /UpdateUserType
                    const onAccept = () => { 
                      return new Promise((resolve) => {
                        const data = {
                            uid: userId,
                            UserType: newType
                        };
                          
                        fetch('/UpdateUserType', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json'
                          },
                          body: JSON.stringify(data)
                        })
                        .then(response => {
                          if(response.status === 200){
                            modalAlert.display("Success", "Successfully changed Type to <b>'" + data.UserType + "'</b> for <b>'" + DisplayName + "'</b>.", ()=>location.reload())
                          } else {
                            modalAlert.display("Failure", "An error occoured. Please refresh the site or contact an administrator if the problem persist.")
                          }
                          resolve()
                        })
                        .catch(error => {
                          modalAlert.display("Failure", "An error occoured. Please refresh the site or contact an administrator if the problem persist.")
                          resolve()
                        });
                      })
                    }

                    modalAccept.display(
                      "Confirm Changes", 
                      "Are you sure you want to change Type to <b>'" + newType + "'</b> for <b>'" + DisplayName + "'</b>?", 
                      onAccept,
                      () => {document.getElementById('type-select-' + userId).value = oldType}
                    )
                  }
                </script>

                {% for user in users %}
                <tr>
                  <td>
                    <select class="form-select" id="type-select-{{ user.id }}" onchange="confirmChange('{{ user.id }}', '{{ user.display_name }}', '{{ user.local_claims.UserType }}')" autocomplete="off">
                      <option value="User" {% if user.local_claims.UserType == 'User' %}selected{% endif %} >User</option>
                      <option value="Admin" {% if user.local_claims.UserType == 'Admin' %}selected{% endif %}>Admin</option>
                      <option value="SuperAdmin" {% if user.local_claims.UserType == 'SuperAdmin' %}selected{% endif %}>SuperAdmin</option>
                    </select>
                  </td>
                  <td class="align-middle">{{ user.display_name }}</td>
                  <td class="align-middle">{{ user.email }}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
            <!-- END TABLE --> 
          {% else %}
            {% include "/components/Unauthorized.html" %}
            <div>
              <script>
                function promoteMe(){
                  fetch('/PromoteMe', {method: 'POST'})
                  .then(response => {
                    if(response.status === 200){
                      modalAlert.display("Success", "Successfully promoted to SuperAdmin", ()=>location.reload())
                    } else {
                      modalAlert.display("Failure", "An error occoured. Please refresh the site or contact an administrator if the problem persist.")
                    }
                  })
                  .catch(err => {
                    modalAlert.display("Failure", "An error occoured. Please refresh the site or contact an administrator if the problem persist.")
                  })
                }
              </script>
              <p class="text-dark"><i>If you've locked yourself out click this button and wait to get promoted to SuperAdmin:</i></p>
              <button class="btn btn-primary" onclick="promoteMe()">Promote to SuperAdmin</button>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div> 
{% endblock %}